<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KMS.Desktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <KMS.Desktop.Properties.Settings>
            <setting name="KmsApiOAuthKey" serializeAs="String">
                <value>97c666e0a1f4487fb7321a7654ac4a68</value>
            </setting>
            <setting name="KmsApiOAuthSecret" serializeAs="String">
                <value>e25e5ec5fd8d476a878326524c625aac</value>
            </setting>
            <setting name="KmsUsbPids" serializeAs="String">
                <value>60000,60001,35148</value>
            </setting>
        </KMS.Desktop.Properties.Settings>
    </applicationSettings>
</configuration>