<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KMS.Desktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <KMS.Desktop.Properties.Settings>
            <setting name="KmsUsbMaxConnectionAttempts" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="KmsUsbConnectionAttemptSpan" serializeAs="String">
                <value>9999999</value>
            </setting>
            <setting name="KmsApiOAuthKey" serializeAs="String">
                <value />
            </setting>
            <setting name="KmsApiOAuthSecret" serializeAs="String">
                <value />
            </setting>
        </KMS.Desktop.Properties.Settings>
    </applicationSettings>
</configuration>