<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="KMS.Comm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KMS.Comm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <KMS.Comm.Properties.Settings>
            <setting name="OAuthBaseUrl" serializeAs="String">
                <value>http://api.kms.me/</value>
            </setting>
            <setting name="OAuthRequestTokenUrl" serializeAs="String">
                <value>oauth/request_token</value>
            </setting>
            <setting name="OAuthRequestAccessTokenUrl" serializeAs="String">
                <value>oauth/access_token</value>
            </setting>
            <setting name="OAuthAuthorizationUrl" serializeAs="String">
                <value>oauth/authorize</value>
            </setting>
            <setting name="OAuthConsumerKey" serializeAs="String">
                <value>474de310b3574f13824e488c68bad81a</value>
            </setting>
            <setting name="OAuthConsumerSecret" serializeAs="String">
                <value>a276b326bef5474d91833b8b49643d47</value>
            </setting>
        </KMS.Comm.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v2.0.50727" sku="Client"/></startup><userSettings>
        <KMS.Comm.Properties.Settings>
            <setting name="OAuthKms3rdLoginUrl" serializeAs="String">
                <value>oauth/3rd/{0}/login</value>
            </setting>
            <setting name="OAuthKmsSessionUrl" serializeAs="String">
                <value>oauth/session</value>
            </setting>
        </KMS.Comm.Properties.Settings>
    </userSettings>
</configuration>
